:root {
   --primary-main: hsl(200, 100%, 50%);   
}

body {
   position: relative;
}

.iframe-container {
   position: relative;
}

.iframe {
   width: 100%;
}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

.container {
   width: 100%;
   margin: 0 auto;
}
@media (min-width:576px) {
   .container {
      width: 560px;
   }
}
@media (min-width:768px) {
   .container {
      width: 720px;
   }
}
@media (min-width:992px) {
   .container {
      width: 960px;
   }
}
@media (min-width:1200px) {
   .container {
      width: 1150px ;
   }
}
@media (min-width:1400px) {
   .container {
      width: 1300px ;
   }
}

